---
import GradientText from "../components/GradientText.astro";
import Layout from "../components/Layout.astro";
---

<style>
    .contact-section-height{
        min-height: calc(100vh - (10rem + 136px + 130px)); 
    }
</style>

<Layout>
    <div class="contact-section-height flex flex-col items-center justify-center responsive-container px-4">
        <p class="text-5xl font-bold dark:text-white">
            For any questions, reach out to me at
        </p>
        <p class="text-5xl mt-5">
            <GradientText
                classes={"text-5xl font-bold "}
                text={"atulvinod1911@gmail.com"}
            />
        </p>
    </div>
</Layout>
