<ul class="list-none flex flex-row">
    <li
        class="px-2 lg:px-5 text-gray-600 flex items-center dark:text-slate-300"
    >
        <a href="/">Home</a>
    </li>
    <li
        class="px-2 lg:px-5 text-gray-600 flex items-center dark:text-slate-300"
    >
        <a href="/about"> About</a>
    </li>
    <li
        class="px-2 lg:px-5 text-gray-600 flex items-center dark:text-slate-300"
    >
        <a href="/#techstack">Tech Stack</a>
    </li>
    <li
        class="px-2 lg:px-5 text-gray-600 flex items-center dark:text-slate-300"
    >
        <a href="/#projects">Projects</a>
    </li>
    <li
        class="px-2 lg:px-5 text-gray-600 flex items-center dark:text-slate-300"
    >
        <a href="/contact">Contact</a>
    </li>
</ul>