---
import NavbarLinks from "./NavbarLinks.astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer class="dark:text-white flex flex-row justify-center mt-[10rem]">
    <div class="w-10/12">
        <div class="flex flex-row justify-end items-center">
            <span class="mx-10"> +91 7889771639</span>
            <span class="mx-20"
                ><a href="mailto:atulvinod1911@gmail.com"
                    >atulvinod1911@gmail.com</a
                ></span
            >
            <SocialLinks />
        </div>
        <hr class="w-100 my-10" />
        <div class="flex mb-10">
            <NavbarLinks />
        </div>
    </div>
</footer>
