---
import GradientText from "./GradientText.astro";
---

<style>

    .text-gradient {
        color: #a195e3;
        background-image: -webkit-linear-gradient(
            45deg,
        #a195e3 0%,
            #1739e1 33%,
            #07a8fd 67%
        );
        background-clip: text;
        -webkit-background-clip: text;
        text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
    }
</style>
<section id="home" class="responsive-container">
    <div
        class="'' mx-5 text-6xl dark:text-white py-[7%] font-semibold leading-tight"
    >
        <p>
            <p>Hi👋,</p>
            <p>My name is</p>
            <GradientText text={"Atul Vinod"} />
            <p>I build things for web</p>
        </p>
    </div>
</section>
