---
const {preview_link, github_link} = Astro.props;
import LinkIcon from "../icons/LinkIcon.astro";
import GithubSmallIcon from "../icons/GitHubSmallcon.astro";
---

<div class="flex flex-row justify-between dark-mode-svg">
    {preview_link && <div class="flex flex-row items-center mr-auto">
        <LinkIcon />
        <a href={preview_link} target="_blank" class="ml-2 underline">Live Preview</a>
    </div>}
    {github_link && <div class="flex flex-row items-center mt-auto ml-auto">
        <GithubSmallIcon />
        <a href={github_link}  target="_blank" class="ml-2 underline">View Code</a>
    </div>}
</div>