---
import TwitterLogo from "../icons/TwitterLogo.astro";
import LinkedInLogo from "../icons/LinkedInLogo.astro";
import GithubLogo from "../icons/GithubLogo.astro";
---

<ul class="list-none flex flex-row dark-mode-svg mx-3">
    <li class="px-2">
        <a href="https://github.com/atulvinod " target="_blank">
            <GithubLogo />
        </a>
    </li>
    <li class="px-2">
        <a href="">
            <TwitterLogo />
        </a>
    </li>
    <li class="px-2">
        <a href="https://www.linkedin.com/in/atul-vinod-702ab1153/ " target="_blank">
            <LinkedInLogo />
        </a>
    </li>
</ul>
