---
import JavascriptLogo from "../icons/JavascriptLogo.astro";
import ReactLogo from "../icons/ReactLogo.astro";
import TailwindLogo from "../icons/TailwindLogo.astro";
import AngularLogo from "../icons/AngularLogo.astro";
import Flutter from "../icons/Flutter.astro";
import Nodejs from "../icons/Nodejs.astro";
import Mysql from "../icons/Mysql.astro";
import Next from "../icons/Next.astro";
import Dotnet from "../icons/Dotnet.astro";
import Css from "../icons/Css.astro";
import Html from "../icons/Html.astro";
---

<section class="dark:text-white mt-20 responsive-container" id="techstack">
    <div class="text-center h-[100%]  ">
        <div class="pt-10">
            <h1 class="text-5xl my-3 font-bold">My Tech stack</h1>
            <span>Technologies I've been working on currently</span>
        </div>

        <section class="flex gap-10  justify-evenly md:justify-start flex-wrap mt-20">
            <JavascriptLogo />
            <ReactLogo />
            <TailwindLogo />
            <AngularLogo />
            <Flutter />
            <Nodejs />
            <Mysql />
            <Next />
            <Dotnet />
            <Css />
            <Html />
        </section>
    </div>
</section>
