.toggle-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: gray;
    width: 50px;
    height: 22px;
    border-radius: 12px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "";
    font-weight: 900;
    background-color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    top: 1.1px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
    background-color: #d3d4d9;
}

.toggle-switch:checked {
    background-color: black;
}

.toggle-checkbox:checked + .toggle-switch::before {
    content: "";
    left: 29px;
    color: #0075ff;
    background-color: rgb(17, 24, 39);
}